* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #5C4033;
  color: #fff;
}

.container {
  padding: 1rem 6rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 10vh;
  z-index: 9999;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 100%;
  width: 75px;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s linear;
}

header nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #fff;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header .extra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header .extra-nav button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 12px;
  transition: 0.3s linear;
}

header .extra-nav button:hover {
  background: #fff;
  color: #000;
}

header .hamburger-menu {
  cursor: pointer;
  display: none;
}

header .mobile-nav {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero .container .content svg {
  margin-bottom: -9rem;
}

.hero .container .content svg text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 132px;
  animation: stroke 5s infinite alternate;
}

.hero .container .content h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 48px;
  width: 65%;
}

.hero .container .content h1 span {
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 4px;
  border-radius: 8px;
}

.hero .container .content button {
  cursor: pointer;
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  color: #fff;
  background-color: #000;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  margin-top: 20px;
}

.hero .container .content button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #000;
  border-radius: 0.2em;
  font-size: 1.5em;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  transition: all 0.5s;
}

.hero .container .content button span:active {
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

/* About Section */
.about {
  min-height: 100vh;
  padding: 3rem 0;
}

.about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.about .container .content .about-me {
  display: flex;
  gap: 12px;
}

.about .container .content .about-me .profile {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .content .about-me .profile .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  border-radius: 16px;
  width: auto;  
  height: auto; 
  padding: 0;   
  overflow: hidden; 
}

.about .container .content .about-me .profile .image-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px; 
}

.about .container .content .about-me .description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about .container .content .about-me .description .name-role {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about .container .content .about-me .description .name-role h1 {
  font-weight: bold;
  font-size: 3rem;
}

.about .container .content .about-me .description .name-role .role {
  width: 100%;
  display: flex;
}

.about .container .content .about-me .description .name-role .role h2 {
  font-weight: 500;
  font-size: 2rem;
  padding: 4px 6px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.about .container .content .about-me .description p {
  font-size: 1.2rem;
  text-align: justify;
}

/* Certificate Section */
.certificate .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.certificate .container .content .certificate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.certificate .container .content .certificate .certificate-box {
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.certificate .container .content .certificate .certificate-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* Project Section */
.project .container .content .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.project .container .content .projects .card {
  flex: 1 1 calc(33.333% - 40px);
  max-width: 30%;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 100%;
  box-sizing: border-box;
}

.project .container .content .projects .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project .container .content .projects .card .description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
}

.project .container .content .projects .card .description h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.project .container .content .projects .card .description p {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.project .container .content .projects .card .description .action {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project .container .content .projects .card .description .action button {
  cursor: pointer;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  transition: 0.3s linear;
}

.project .container .content .projects .card .description .action button:hover {
  background: #fff;
  color: #000;
}

/* Footer Section */
footer {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #fff;
}

footer .container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

footer .container .profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

footer .container .link-container {
  width: 70%;
  display: flex;
  gap: 4rem;
}

footer .container .link-container .information,
footer .container .link-container .resource,
footer .container .link-container .navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

/* Social Media Styles */
.social-media-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-media {
  text-decoration: none;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social-media:hover {
  transform: scale(1.1);
  background-color: #333;
}

.social-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* Footer Links */
footer .container .profile .logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

footer .container .profile .logo img {
  width: 50px;
  height: 50px;
}

footer .container .profile .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

footer .container .profile p {
  font-weight: 400;
  margin-bottom: 8px;
}

footer .container .link-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}

footer .container .link-container ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer .container .link-container ul li {
  cursor: pointer;
}

footer .container .link-container ul li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #fff;
  width: 40%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s linear;
  margin-top: 4px;
}

footer .container .link-container ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

footer .container .link-container ul li a {
  color: #fff;
  text-decoration: none;
}

/* Animations */
@keyframes stroke {
  0% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 3;
  }
  100% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}

/* Media Queries */
@media screen and (max-width: 1536px) {
  footer .container,
  footer .container .link-container {
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  header nav,
  header .extra-nav {
    display: none;
  }

  header .hamburger-menu {
    display: block;
  }

  header .mobile-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    height: 100vh;
    background-color: #000;
    z-index: 999;
    transition: all 0.2s linear;
  }

  header .mobile-nav.show {
    transform: translateY(0);
  }

  header .mobile-nav .close {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    justify-content: end;
    width:
  }